<div class="container">
  <div class="row">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card">
      <img src="https://www.webconsultas.com/sites/default/files/styles/wc_adaptive_image__small/public/temas/convivencia-perros-gatos.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title text-center">Atención a felinos y caninos</h5>
        <p class="card-text">Nos dedicamos a prestar nuestro servicios a mascotas domesticas</p>
      </div>
    </div>
  </div> 
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card">
      <img src="https://image.made-in-china.com/202f0j10TYFUJUnKgRbG/Radiography-Machine-Digital-200mA-16kw-Animal-Veterinary-X-ray-Equipment-Mslvx17.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title text-center">Servicio de laboratorios y rayos X</h5>
        <p class="card-text">Contamos con equipamiento de ultima tecnología</p>
      </div>
    </div>
  </div>      
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card">
      <img src="https://media.lavoz901.com/fotos-cuerpo/2019/01/25/o_1548427037.jpeg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title text-center">Atención domiciliaria</h5>
        <p class="card-text">Ofrecemos nuestro nuevo servicio en casos de urgencia</p>
      </div>
    </div>
  </div>      

  </div>
  </div>