.jumbotron {
    color: rgb(61, 58, 58);
    background-image: url("https://www.hogarmania.com/archivos/201609/boyero-berna-perro-raza-XxXx80.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: 100px;
    margin-bottom: 0px;
    
  }

  
  
  