<section>
    <div class="container mt-5">
    <h1>Nos interesa mucho tu opinión para seguir mejorando</h1>
    <form class="row g-3">
    <div class="col-md-6">
    <label for="exampleFormControlInput1" class="form-label">Nombre</label>
    <input type="nombre" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese su nombre">
    </div>

    <div class="col-md-6">
      <label for="exampleFormControlInput1" class="form-label">Apellido</label>
      <input type="apellido" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese su apellido">  
    </div>

    <div class="col-md-8">
    <label for="exampleFormControlInput1" class="form-label">E-mail</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese su correo electrónico">    
    </div>

    <div class="col-md-12">
    <label for="exampleFormControlInput1" class="form-label">Comentarios ó Consultas</label>
    <textarea class="form-control" id="Comentarios ó Consultas" rows="3">
    </textarea>
    </div>

    <div class="col-12">
    <button type="Enviar" class="btn btn-danger">Enviar</button>
    </div>
    
    </form>
    </div>
  
    </section>
